<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/icon.ico') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    <header class="p-4 bg-gray-700 roboto">
        <div class="flex items-center justify-between">
            <a href="/" aria-current="page" class="text-lg font-bold text-gray-900">
                <img src="{{ asset('images/minecraft_title.png') }}" width="100" height="100" alt="Logo Serveur Quantum" draggable="false">
            </a>
            <div class="md:hidden">
                <button id="menu-toggle" class="focus:outline-none">
                    <svg class="w-6 h-6 text-gray-900" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                    </svg>
                </button>
            </div>
            <nav id="menu" class="hidden md:flex items-center ml-auto">
                <ul class="flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-12">
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="relative group flex items-center">
                            <a href="/admin" class="text-white hover:text-gray-400">Administration</a>
                            <span class="absolute left-0 bottom-0 h-0.5 bg-white opacity-0 group-hover:opacity-100 group-hover:w-full transition-all duration-300"></span>
                        </li>
                    {% endif %}
                    <li class="relative group flex items-center">
                        <a href="/articles" class="text-white hover:text-gray-400">News</a>
                        <span class="absolute left-0 bottom-0 h-0.5 bg-white opacity-0 group-hover:opacity-100 group-hover:w-full transition-all duration-300"></span>
                    </li>
                    <li class="relative group flex items-center">
                        <a href="/wiki" class="text-white hover:text-gray-400">Wiki</a>
                        <span class="absolute left-0 bottom-0 h-0.5 bg-white opacity-0 group-hover:opacity-100 group-hover:w-full transition-all duration-300"></span>
                    </li>
                    <li class="relative group flex items-center">
                        <a href="/jouer" class="text-white hover:text-gray-400">Jouer</a>
                        <span class="absolute left-0 bottom-0 h-0.5 bg-white opacity-0 group-hover:opacity-100 group-hover:w-full transition-all duration-300"></span>
                    </li>
                    <li class="flex items-center">
                        {% if app.user and app.user.avatarHash %}
                            <a href="/logout" class="bg-blue-500 hover:bg-blue-700 text-white font-bold rounded flex items-center xl:py-2 xl:px-4 lg:py-1 lg:px-1 md:py-1 md:px-1">
                                <img class='rounded-full w-8 h-8 mr-2' draggable='false' src='https://cdn.discordapp.com/avatars/{{ app.user.discordId }}/{{ app.user.avatarHash }}.jpg' alt='Avatar' />
                                Se déconnecter
                            </a>
                        {% else %}
                            <a href="/auth/discord/start" class="bg-blue-500 hover:bg-blue-700 text-white lg:text-sm text-xs font-bold py-2 px-4 rounded flex items-center">
                                Se connecter
                            </a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <script>
        document.getElementById('menu-toggle').addEventListener('click', function() {
            let menu = document.getElementById('menu');
            if (menu.classList.contains('hidden')) {
                menu.classList.remove('hidden');
            } else {
                menu.classList.add('hidden');
            }
        });
    </script>
    {% block body %}{% endblock %}
    </body>
</html>
